
body{
    font-family: poppins;
}


.cabecalho-imagem{
     width: 20%;
}
    .cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#210253,#4EBFE9);
    color: white;
    display: flex;
}

.escola-div-conteudo{
    width: 35%;
}

.estudante-imagem{
    width: 120px;
}

.estudante-icone{
    width: 24px;
}

.estudante-div{
    text-align: center;
}

.escola-imagem{
    text-align: center;
    width: 25%;
}

.estudante-imagem{
    
}
   